* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

.won {
    /* border: 2px dotted black; */
    animation: scaleit 1s infinite ease-in;
}

@keyframes scaleit {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.winner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    visibility: hidden;
}

.winner-box {
    position: absolute;
    top: 100px;
    left: 50px;
    height: 430px;
    width: 130px;
    /* border-radius: 5px; */
    /* background-color: white; */
    opacity: 0;
    font-family: "Helvetica";
}

.winner-box h2 {
    margin: 5px;
}

.winner-box p {
    margin: 5px;
    font-size: 24px;
    text-align: center;
}

.board {
    position: absolute;
    top: 100px;
    left: 200px;
    display: flex;
    /* margin: 30px; */
}

.btn {
    /* position: absolute; */
    width: 100%;
    height: 50px;
    opacity: 0;
}

#whosturn {
    position: absolute;
    top: 30px;
    left: 210px;
}

.column {
    /* width: 80px; */
    /* height: 80px; */
    background-color: #085f63;
    padding: 5px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* .overlay:hover {
    background-color: rgba(8, 95, 99, 0.2);
} */

.column:hover {
    background-color: rgba(8, 95, 99, 0.8);
}

.fadein {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.field {
    width: 70px;
    height: 70px;
    padding: 5px;
}

.round {
    background-color: white;
    width: 65px;
    height: 65px;
    padding: 5px;
    border-radius: 50%;
}

.player-red {
    background-color: #ff5959;
}

.player-yellow {
    background-color: #facf5a;
}
